:root {
    --color-c1: #2a2f26;
    --color-c2: #515d5a;
    --color-c3: #717e78;
    --color-c4: #78816b;
    --color-c5: #ffd176;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.color-acento {
    color: var(--color-c5);
}

.main {
    position: absolute;

    top: 0px;
    z-index: 1;

    width: 100%;
    height: 150vh;
    background-color: #0a0a0a;
    background:
        radial-gradient(ellipse 80% 80% at 50% -20%,
            var(--color-c2),
            var(--color-c1));
    display: flex;
    flex-direction: column;
    gap: 70px;

}

/* Estilos para el navbar */

.nav {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 20px;


    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav .logo {
    color: white;
    font-size: 1.5em;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav .logo .img-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    background: url(../img/img-logo.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav .empezar {
    border: none;
    border-radius: 5rem;
    background: var(--color-c4);
    box-shadow: 0 3px 8px rgb(0, 0, 0);

    color: white;
    font-size: 1.2em;
    padding: 5px 15px;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

/* Estilos para el container principal */

.slogan-img {
    width: 100%;
    height: 800px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.slogan-img .info {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.info h2 {
    color: white;
    font-size: 2.5em;
    text-align: center;
}

.info .info-text {
    color: #CDCDCF;
    font-size: 1em;
    text-align: center;
}

.info .empezar {
    border: none;
    border-radius: 5rem;
    background: #78816b;
    box-shadow: 0 3px 8px rgb(0, 0, 0);

    color: white;
    font-size: 1.2em;
    padding: 5px 20px;
    cursor: pointer;
}

.slogan-img .container-img {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-img img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    object-fit: contain;
}

@media screen and (min-width: 768px) {

    .main {
        height: 100vh;
        gap: 20px;
    }

    .nav {
        padding: 0 70px;
    }

    .nav .logo {
        font-size: 2em;
        gap: 20px;
    }

    .nav .logo .img-logo {
        width: 50px;
        height: 50px;
    }

    .nav .empezar {
        font-size: 1.2em;
        padding: 10px 30px;
        cursor: pointer;
    }

    .slogan-img {
        height: 500px;
        flex-direction: row;
    }

    .slogan-img .info {
        width: 50%;
        height: 100%;
        align-items: flex-start;
    }

    .info h2 {
        font-size: 2.5em;
        margin-left: 20px;
        text-align: justify;
    }

    .info .info-text {
        font-size: 1em;
        margin-left: 20px;
        text-align: justify;
    }

    .info .empezar {
        font-size: 1.2em;
        padding: 5px 30px;
        margin-left: 20px;
    }

    .slogan-img .container-img {
        width: 50%;
        height: 100%;
    }

    .container-img img {
        width: 85%;
    }
}

@media screen and (min-width: 1024px) {

    .info h2 {
        font-size: 3em;
        margin-left: 40px;
    }
    
    .info .info-text {
        font-size: 1.2em;
        margin-left: 40px;
    }
    
    .info .empezar {        
        margin-left: 40px;
        transition: transform .3s ease-in-out;
    }

    .empezar:hover {
        transform: scale(1.2);
    }

    .container-img img {
        width: 100%;
    }
}

@media screen and (min-width: 1440px) {

    .main {
        justify-content: center;
        align-items: center;
    }

    .nav {
        position: fixed;
        top: 0;
        padding: 0 200px;
    }

    .slogan-img {
        width: 90%;
        margin-top: 50px;
    }

    .info h2 {
        font-size: 4em;
        margin-left: 80px;
    }
    
    .info .info-text {
        font-size: 1.4em;
        margin-left: 80px;
    }
    
    .info .empezar {        
        margin-left: 80px;
    }
}

.bg-c1 {
    background-color: var(--color-c1) !important;
}

.bg-c2 {
    background-color: var(--color-c2) !important;
}

.bg-c3 {
    background-color: var(--color-c3) !important;
}

.bg-c4 {
    background-color: var(--color-c4) !important;
}

.bg-c5 {
    background-color: var(--color-c5) !important;
}

.text-c1 {
    color: var(--color-c1) !important;
}

.text-c2 {
    color: var(--color-c2) !important;
}

.text-c3 {
    color: var(--color-c3) !important;
}

.text-c4 {
    color: var(--color-c4) !important;
}

.text-c5 {
    color: var(--color-c5) !important;
}

.border-c1 {
    border-color: solid var(--color-c1) !important;
}

.border-c2 {
    border-color: solid var(--color-c2) !important;
}

.border-c3 {
    border-color: solid var(--color-c3) !important;
}

.border-c4 {
    border-color: solid var(--color-c4) !important;
}

.border-c5 {
    border-color: solid var(--color-c5) !important;
}

body {
    padding: 0;

    
}
.signup {
    height: 100%;
    width: 100%;
    background: linear-gradient(210deg, var(--color-c3), var(--color-c1));
    color: white;
}
.login{
    height: 100%;
    width: 100%;
    background: linear-gradient(210deg, var(--color-c3), var(--color-c1));
    color: white;
}

.formSign{
    border-radius: 25px;
    background-color: var(--color-c2);
    box-shadow: 15px 10px 30px #21251e;
}
.divForm{
    margin-top: 90px;
    margin-bottom: 90px;
    
}
.divFormlog{
    margin-top:10%;
    margin-bottom: 10%;
    
}
#Help{
    color: var(--color-c5);
}
.nav2{
    position: fixed;
    margin-top: 0;
    padding-top: 0;
    width: 100%;
}
#app{
    overflow: auto;
}



.button-no {
    outline: none !important;
    box-shadow: none !important;
}