:root {
    --color-c1: #2a2f26;
    --color-c2: #515d5a;
    --color-c3: #717e78;
    --color-c4: #78816b;
    --color-c5: #ffd176;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.main {
    position: absolute;

    top: 0px;
    z-index: 1;

    width: 100%;
    height: 100%;
    background-color: #0a0a0a;
    background:
        radial-gradient(ellipse 80% 80% at 50% -20%,
            var(--color-c2),
            var(--color-c1));
    display: flex;
    flex-direction: column;

    gap: 70px;    

}

/* Estilos para el navbar */

.nav {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 20px;


    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav .logo {
    color: white;
    font-size: 1.5em;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav .logo .img-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    background: url(../img/img-logo.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav .empezar {
    border: none;
    border-radius: 5rem;
    background: var(--color-c4);
    box-shadow: 0 3px 8px rgb(0, 0, 0);

    color: white;
    font-size: 1.2em;
    padding: 5px 15px;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

/*  */

.slogan-img {
    width: 90%;
    height: 500px;
    margin: 0 0 0 7%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.color-acento {
    color: var(--color-c5);
}

.slogan-img .info {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 30px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.info h2 {
    color: #f7f7f7;
    font-size: 4em;
    margin-left: 40px;
}

.info .info-text {
    color: #CDCDCF;
    font-size: 1.4em;
    margin-left: 40px;
}

.info .empezar {
    border: none;
    border-radius: 5rem;
    background: var(--color-c4);
    box-shadow: 0 3px 8px rgb(0, 0, 0);

    color: white;
    font-size: 1.2em;
    padding: 5px 30px;
    margin-left: 40px;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.slogan-img .container-img {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}


.bg-c1 {
    background-color: var(--color-c1) !important;
}

.bg-c2 {
    background-color: var(--color-c2) !important;
}

.bg-c3 {
    background-color: var(--color-c3) !important;
}

.bg-c4 {
    background-color: var(--color-c4) !important;
}

.bg-c5 {
    background-color: var(--color-c5) !important;
}

.text-c1 {
    color: var(--color-c1) !important;
}

.text-c2 {
    color: var(--color-c2) !important;
}

.text-c3 {
    color: var(--color-c3) !important;
}

.text-c4 {
    color: var(--color-c4) !important;
}

.text-c5 {
    color: var(--color-c5) !important;
}

.border-c1 {
    border-color: solid var(--color-c1) !important;
}

.border-c2 {
    border-color: solid var(--color-c2) !important;
}

.border-c3 {
    border-color: solid var(--color-c3) !important;
}

.border-c4 {
    border-color: solid var(--color-c4) !important;
}

.border-c5 {
    border-color: solid var(--color-c5) !important;
}

body{
    padding: 0;
    
}
