
:root {
    --color-c1: #2a2f26;
    --color-c2: #515d5a;
    --color-c3: #717e78;
    --color-c4: #78816b;
    --color-c5: #ffd176;
}
body{
    background: linear-gradient(180deg, var(--color-c3), var(--color-c1));
}
.signup{
   
    color: white;
}
.formSign{
    border-radius: 25px;
    background-color: var(--color-c2);
    box-shadow: 15px 10px 30px #21251e;
}
.divForm{
    margin-top: 30px;
}
#Help{
    color: var(--color-c5);
}