/* LogIn */

.login{
    height: 100vh;
    width: 100%;
    background: linear-gradient(210deg, var(--color-c4), var(--color-c1));
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.formLogin{
    width: 500px;
    height: 450px;
    border-radius: 25px;
    background-color: var(--color-c2);
    box-shadow: 15px 10px 30px #21251e;
}

/* SignUp */

.signup {
    height: 100vh;
    width: 100%;
    background: linear-gradient(210deg, var(--color-c4), var(--color-c1));
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.formSign {
    width: 500px;
    height: 550px;
    border-radius: 25px;
    background-color: var(--color-c2);
    box-shadow: 15px 10px 30px #21251e;
}

#Help{
    color: var(--color-c5);
}

.nav2{
    position: fixed;
    margin-top: 0;
    padding-top: 0;
    width: 100%;
}
#app{
    overflow: auto;
}

.acceso{
    border: none;
    border-radius: 5rem;
    background: var(--color-c5);
    box-shadow: 0 3px 8px var(--color-c1);
    min-width: 180px;
    color: var(--color-c1);
    text-align: center;
    font-size: 1.2em;
    padding: 5px 30px;
    margin-left: 10px;
    cursor: pointer;
    transition: transform .3s ease-in-out;

}
.acceso:hover{
    transform: scale(0.9)
}

.btn-google {
    width: 215.5px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 3px 10px var(--color-c1);   
}

.sombra {
    box-shadow: 8px 3px 10px var(--color-c1);      
}

